{% extends 'frontofficefrontBundle::map.html.twig' %}
{% block container %}
    <input id="emp" type="hidden" value="{{ emp }}"/>
    <div id="googleMap" style="width:1340px;height:400px;"></div>
{% endblock %}