{% extends "SquadFttBundle::layout.html.twig" %}
{% block titre %}
    Accueil
{% endblock%}
{% block main %}

    <div class="general">
        <div id="textslide" class="effect-backcolor">
            <div class="container">
                <div class="col-md-12 slide-txt">
                    <p style="transform: translate(0px, 0px); opacity: 1;" class="sub-result aft-little welcome linetheme-left">Creative</p>
                    <p style="transform: translate(0px, 0px); opacity: 1;" class="sub-result aft-little linetheme-right">Web Design<span class="point-big">.</span></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}